<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet"  href="static/new.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">
    <h1> Simulator of cylindrical capacitive level sensor </h1>
</head>
<body>
<div align="center">
    <p>Set the radius and submit value:</p>
     <form class="pure-form" method="POST" action = "#">
        Set radius r1 size:
        <select name="val">
            <option value="0">Select value</option>
            <option value="0.1">0.1cm</option>
            <option value="0.2">0.2cm</option>
            <option value="0.3">0.3cm</option>
            <option value="0.5">0.5cm</option>
            <option value="0.7">0.7cm</option>" . $options . "
          </select>
        <br>
        <br>
        <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
    </form>
</div>
</body>
</html>