# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# JetBrains IDE
.idea/

Thumbs.db
*.app
*.exe
*.war

# Folders
flask_session/
__pycache__/
.pytest_cache/

# Files
file.json